@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #fefbe9;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.header{
    height: 10vh;
    display: flex;
    align-items: center;
    /* background:linear-gradient(to right,rgb(167, 135, 135),rgb(49, 153, 45)) */
    background-color: #c7c3ae;
}

 .header p{
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    color:#183a1d;
    color: #fefbe9;
    text-shadow: 2px 2px 3px rgb(100, 29, 29);
    padding: 0px 0px 5px 30px;
}

.main-page{
    width: 100vw;
    height: 30vw;
    background-color: rgb(104, 79, 79);
    background-image: url("Bg2.jpg");
    background-size: 100% 100%;
    background-blend-mode: difference;
}

.navbar{
    display: flex-box;
    width: 40vw;
    height: 10vh;
    position: absolute;
    top: 20px;
    right: 0;
}

.navbar ul{
    display: flex;
    width: 40vw;
    list-style: none;
}

.navbar ul li{
    width: 25%;
    font-size: 20px;
    box-sizing: border-box;
    color: #193a1ee1;
}

.navbar ul li a{
    text-decoration: none;
    color: #193a1ee1;
    
}

.navbar ul :nth-child(4) a{

    position: absolute;
    top: -10px;
    right: 0px;
    background-color: rgb(211, 24, 24);
    margin: 0px 20px 0px 0px;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
}

.whowearetitle, .whatwedotitle{
    text-align: center;
    margin: 50px;
}

.whoweare{
    margin: 0vh 15vw 10vh 15vw;
    width: 70vw;
    height: 50vh;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.whatwedo{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-content: space-around;
    background-color: #e1eedd;
    
}

.whatwedotitle{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 32px;
}

.whatwedo div img{
    width: 200px; 
    height: 200px;
}

.donatered{
    background-color: red;
    margin: 0px 90px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;

}

.spreadgreen{
    background-color: green;
    margin: 0px 90px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;

}

.saveblue{
    background-color: blue;
    margin: 0px 90px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;

}

.donatered p,.saveblue p, .spreadgreen p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
}

.contactus form{
    width: 60vw;
    height: 80vh;
    margin: 0 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus form input{
    width: 250px;
    height: 24px;
}

.contactus form label{
    width: 250px;
    font-size: 18px;
}

.contactustitle{
    text-align: center;
    margin: 50px 0px -70px 0px;
    font-size: 32px;

}

footer{
    width: 90vw;
    padding: 5vh 5vw;
    height: 300px;
    background-color: #193a1ee1;
    display: flex;
}

footer div{
    width: 33%;
}

footer .address p{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0px;
}

footer .links{
    display: flex;
    flex-direction: column;
}

footer .links a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
}
